.env
.venv/
__pycache__/
.requirements.txt
.pytest.ini
test/
board_vn100_cache.json
market_board_full_cache.json
data/board_vn100_cache.json
data/market_board_full_cache.json
dnse_creds.yaml
tests/
.supperpowers/
docs/